.input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  padding: var(--space-3) var(--space-4);
  font-family: var(--font-primary);
  font-size: var(--text-base);
  color: var(--input-text);
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: var(--radius-md);
  outline: none;
  transition: all var(--transition-fast);
}

.input::placeholder {
  color: var(--input-placeholder);
}

.input:focus {
  border-color: var(--input-focus);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.input:hover:not(:focus) {
  border-color: var(--border-hover);
}

.input-with-icon-left {
  padding-left: var(--space-10);
}

.input-with-icon-right {
  padding-right: var(--space-10);
}

.input-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-tertiary);
  pointer-events: none;
}

.input-icon-left {
  left: var(--space-4);
}

.input-icon-right {
  right: var(--space-4);
}

.input:focus ~ .input-icon,
.input-wrapper:hover .input-icon {
  color: var(--text-secondary);
}

